.body{
  background: White;
  padding: 0;
  margin: auto;
  display: block;
  overflow: hidden;

}

.header{
  display: block;
  float: right;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid white;
  width: 90%;
  height: auto;
  padding-right: 200px;
  padding-top: 24px;
  font: 12px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  line-height: normal;
  font-color: black;
  z-index: 1;

}

.Hallo{
  position: absolute;
  margin: 350;
  background: none;
  font: 200px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  color: white;
  z-index: 1;

}

.nav {
  position: relative;
  margin: 0;
  float: left;
  width: 0%;
  height: 100%;
  background: SteelBlue;
  font: 0px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  font-color: black;
  letter-spacing: 0px;
  line-height: 1.8;
  padding: 24px 15px;
  text-align: left;
  transition:all 500ms;
  -moz-transition:all 500ms;
  -ma-transition:all 500ms;
  -o-transition:all 500ms;
  -webkit-transition:all 500ms;
  z-index: 2;
}

.nav:hover {
  float: left;
  width: 13%;
  height: 100%;
  background: SteelBlue;
  font: 14px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  font-color: black;
  letter-spacing: 4px;
  line-height: 1.8;
  padding: 24px 15px;
  text-align: left;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.menutitle {
  position: absolute;
  top: 150px;
  display: inline-flex;
  width: 80px;
  height: 40px;
  background: SteelBlue;
  font: 14px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  font-color: black;
  vertical-align: middle;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  transition:all 500ms;
  -moz-transition:all 500ms;
  -ma-transition:all 500ms;
  -o-transition:all 500ms;
  -webkit-transition:all 500ms;
  z-index: 2;
}

.menutext {
  margin: auto;
}


.main {
  float: right
  width: auto;
  height: 650px;
  background: none;
  font: 14px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  padding-left: 300px;
  text-align: left;
  overflow: scroll;
  z-index: 0;
}


.picture {
  width: auto;
  height: 600px;
}

.vita
{
  margin-top: 200px;
  margin-bottom: 200px;
  padding-top: 200px;
  background: none;
}

.vitaright {
  float: right;
  margin: 0;
  margin-bottom: 200px;
  width: 70%;
  height: auto;
  font: 14px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  padding: 24px 15px;
  text-align: left;
}


.vitaleft {
  float: left;
  margin: 0;
  margin-bottom: 200px;
  width: 20%;
  height: auto;
  font: 14px/24px "Futura", Inconsolata, "Helvetica Neue", Terminal, "Helvetica";
  padding: 24px 15px;
  text-align: right;
  color: SteelBlue;
}

.galerie {
  float: left;
  background: none;
}

.container {
  position: relative;
  width: 100%;
  margin: 5;
  float: none;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.galerielinks {
  float: left;
  margin: 0;
  width: 48%;
  height: auto;
}

.galerierechts {
  float: right;
  margin: 0;
  width: 48%;
  height: auto;
}

.videos{
  position: inherit;
  height: auto;
  width: 200px;
  margin-top:  200px;
  float: left;

}

.videoabstände{
  margin-top:  50px;

}
